@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #010001;
  color: white;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1b1b1b;
  }

  *::-webkit-scrollbar-thumb {
    background: #404141;
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }
}

@font-face {
  font-family: inter;
  src: url(../../public/Inter.ttf);
}

.inter {
  font-family: inter;
}

/**HERO ________________________________________________*/

.h-image {
  width: 75%;
  max-height: 800px;
  aspect-ratio: 16 / 9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.shadowBot {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0) 75%);
}

.h-left {
  width: 100%;
  height: 875px;
  position: absolute;
  top: 0px;
}

.h-info-container {
  left: 0px;
  position: absolute;
  height: 100%;
  width: 72%;
  z-index: 50;
}

.shadowLeft {
  background: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.h-info {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -150px;
}

.h-title {
  width: 578px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.h-category {
  font-size: 14px;
  color: #6e6e6e;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 1rem;
  width: fit-content;
}

.h-summary {
  font-size: 16px;
  color: #dadada;
  font-weight: 500;
  width: 450px;
  margin-top: 0.5rem;
}

.h-buttons {
  display: flex;
  gap: 0.75rem;
  margin-top: 3rem;
  align-items: center;
  width: fit-content;
}

.h-moreinfo {
  background-color: #f47420;
  width: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  cursor: pointer;
  user-select: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.h-visit {
  width: fit-content;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-width: 2px;
  border-color: #f47420;
  color: #f47420;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.arrows-container {
  justify-content: space-between;
  user-select: none;
  position: absolute;
  width: 100%;
  margin-top: -150px;
  font-size: 38px;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  z-index: 50;
}

.h-arrow {
  color: white;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.h-moreinfo-mobile {
  flex: 1 1 0%;
  background-color: #f47420;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  cursor: pointer;
  user-select: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.h-mobile {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 600px;
  flex-direction: column;
}

.h-mobile-image {
  width: 100%;
  height: 75%;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.h-mobile-info {
  position: absolute;
  top: -2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.h-mobile-title {
  font-weight: 600;
  text-align: center;
  line-height: 1.15;
}

/**PROJECTS ________________________________________________*/

.p-section {
  min-height: 675px;
  z-index: 50;
  position: absolute;
  width: 100%;
}

.p-title {
  color: white;
  font-weight: 600;
}

.p-subtitle {
  color: #6e6e6e;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-top: 0.25rem;
  text-wrap: pretty;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 0.8rem;
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.project-container:hover .info {
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 0.75rem;
  color: #838586;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icons-container {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 20;
  color: #6e6e6e;
}

.volver {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  color: #5b5b5b;
  line-height: 1;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}

/**MODAL ________________________________________________*/

.modal-container {
  width: 100%;
  height: 100%;
  padding-left: 3rem /* 56px */;
}

.modal-left {
  width: 375px;
  height: 100%;
  padding-right: 3.5rem /* 56px */;
  display: flex;
  flex-direction: column;
  color: #a1a1a1;
}

.modal-name {
  font-weight: 700;
  line-height: 45px;
  font-size: 40px;
  margin-top: 0.5rem /* 8px */;
  color: white;
}

.modal-summary {
  margin-top: 20px /* 24px */;
  font-size: 15px;
}

.modal-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 14px;
  line-height: 1;
  border-color: #343434;
  border-bottom-width: 1px;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.modal-tech {
  display: flex;
  gap: 8px /* 8px */;
  justify-content: flex-end;
  padding-top: 1.25rem /* 20px */;
  font-size: 24px;
}

.left-end {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.modal-visit {
  background-color: #f47420;
  color: black;
  height: 42px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  line-height: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  flex: 1 1 0%;
}

.modal-github {
  background-color: transparent;
  color: white;
  border: 1px solid #343434;
  height: 44px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  line-height: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-weight: 600;
  text-transform: uppercase;
}

.modal-right {
  flex: 1 1 0%;
  height: 100%;
  border-color: #202020;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3rem /* 48px */;
  margin-right: 0.5rem /* 8px */;
  overflow-y: auto;
  padding-bottom: 1.5rem /* 24px */;
  border-left-width: 1px;
}

.modal-container-mobile {
  width: 100%;
  height: 100%;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  overflow-y: auto;
  padding-bottom: 6rem /* 96px */;
  color: #a1a1a1;
}

.h1-content div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.h1-content h1 {
  color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-size: 32px;
  line-height: 1;
  margin-top: 50px;
  margin-bottom: 10px;
}
.h1-content p {
  letter-spacing: -0.025em;
  text-wrap: pretty;
  font-size: 15px;
  color: #a1a1a1;
}
.h1-content a {
  color: #3291ff;
  font-weight: 500;
}

.h1-content a:hover {
  text-decoration-line: underline;
}

.h1-content code {
  display: inline-block;
  color: #ededed;
  background: #1a1a1a;
  border-radius: 4px;
  font-weight: 400;
  padding: 0 4px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: 16px;
}

.h2-content {
  margin-top: 1.5rem /* 24px */;
}

.h2-content div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.h2-content h1 {
  color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-size: 24px;
  margin-top: 6px;
}
.h2-content p {
  letter-spacing: -0.025em;
  text-wrap: pretty;
  font-size: 15px;
  color: #a1a1a1;
  line-height: 1.3;
}
.h2-content a {
  color: #3291ff;
  font-weight: 500;
}

.h2-content a:hover {
  text-decoration-line: underline;
}

.h2-content code {
  display: inline-block;
  color: black;
  background: #f0f0f0;
  border-radius: 4px;
  font-weight: 400;
  padding: 0 4px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: 16px;
}

/**FOOTER ________________________________________________*/

.f-section {
  background-color: rgb(11, 11, 11);
  margin-top: 8rem;
}

.f-desktop {
  font-size: 0.875rem;
  margin-top: 5rem;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.f-container {
  max-width: 1400px;
  margin: auto;
}

.links-container {
  display: flex;
  align-items: center;
  margin-top: 3.5rem /* 56px */;
  gap: 0.8rem /* 16px */;
  font-size: 1.25rem /* 20px */;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.75rem /* 12px */;

  width: 55%;
  color: white;
}

.tech-content {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  line-height: 1;
  color: #838586;
}

.job-container {
  width: 20%;
  color: white;
  gap: 0.75rem /* 12px */;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
}

.job-content {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  line-height: 1;
  cursor: pointer;
  color: #838586;
}

.f-mobile {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.f-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 0.875rem /* 14px */;
  color: #a7a7a7;
  padding-bottom: 1.5rem;
}

.tech-mobile {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem /* 20px */;
  color: #838586;
}

.job-mobile {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem /* 20px */;
  color: #838586;
}

/**UTILS ________________________________________________*/

.image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;
  border-radius: 0rem;
  border-width: 1px;
  border-color: #242424;
  width: 100%;
  transition-property: transform !important;
}

.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3.5px solid #7c7c7d;
  border-right-color: #3b3a3a;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

.pulse-container {
  display: flex;
  align-items: center;
  gap: 0.6rem /* 8px */;
  margin-top: 2rem /* 32px */;
  font-weight: 500;
  color: white;
}

.pulse {
  height: 6.5px;
  width: 6.5px;
  border-radius: 50%;
  background-color: #00ff6a;
  animation: 1.5s pulse infinite ease-in-out;
  margin-left: 5px;
  margin-top: 1px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #00ff6a;
  }

  100% {
    box-shadow: 0 0 0 5px #69ffa800;
  }
}

.tooltip-container:hover {
  color: white;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 640px) {
  .tooltip-container:hover .tooltip {
    display: block;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: -2.5rem;
  background-color: rgb(38, 38, 38);
  padding: 0.5rem;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: white;
  border-radius: 0px;
  font-weight: 400;
  letter-spacing: 0em;
}

.slide-loader {
  width: 300px;
  height: 5px;
  background-color: #808181;
  position: relative;
  border-radius: 9999px;
}

.slide-loader::before {
  content: "";
  position: absolute;
  background-color: #f57221;
  width: 0%;
  height: 100%;
  animation: load 12s linear infinite;
  border-radius: 9999px;
}

.reset::before {
  animation: none; /* Detén la animación */
}

@keyframes load {
  100% {
    width: 100%;
  }
}

.contact {
  width: 3rem /* 48px */;
  aspect-ratio: 1 / 1;
  background-color: #f47420;
  position: fixed;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  z-index: 50;
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
}

.contact:hover {
  background-color: #ff9249;
}
