@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #060a0e;
  color: white;
}

.pageSize {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

@media (min-width: 640px) {
  .pageSize {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1b1b1b;
  }

  *::-webkit-scrollbar-thumb {
    background: #404141;
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }
}

.texto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@font-face {
  font-family: inter;
  src: url(../../public/Inter.ttf);
}

.inter {
  font-family: inter;
}

/**HERO SECTION ________________________________________________*/

.title {
  line-height: 1rem;
  color: white;
  max-width: 500px;
  font-weight: 600;
}

.subtitle {
  margin-top: 0.7rem;
  color: #818181;
  max-width: 475px;
  text-wrap: pretty;
  font-size: 16px;
}

.buttons-container {
  gap: 1rem;
  display: grid;
  max-width: 450px;
  margin-top: 2.5rem;
  align-items: center;
}

.correo-button {
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  min-width: 175px;
  gap: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  justify-content: center;
  border-radius: 0.125rem /* 2px */;
  cursor: pointer;
  font-size: 0.875rem /* 14px */;
  font-weight: 400;
  min-height: 46px;
  user-select: none;
}

.github-button {
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  color: white;
  min-width: 175px;
  gap: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  justify-content: center;
  border-radius: 0.125rem /* 2px */;
  cursor: pointer;
  font-size: 0.875rem /* 14px */;
  font-weight: 400;
  border: solid 1px #343434;
  min-height: 46px;
}

/**PROJECTS SECTION ________________________________________________*/

.filter-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.75rem;
}

.inactive {
  height: 40px;
  font-size: 14px;
  border-color: transparent;
  border-bottom-width: 2px;
  display: flex;
  align-items: center;
  border-radius: 0.125rem;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  color: #838586;
  text-transform: capitalize;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding-bottom: 2px;
}

.inactive:hover {
  color: white;
}

.active {
  padding-bottom: 2px;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  text-transform: capitalize;
  gap: 0.5rem;
  pointer-events: none;
  user-select: none;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 0.8rem;
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.project-container:hover .info {
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 0.75rem;
  color: #838586;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icons-container {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 20;
  color: #6e6e6e;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tooltip-container:hover {
  color: white;
}

@media (min-width: 640px) {
  .tooltip-container:hover .tooltip {
    display: block;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: -2.5rem;
  background-color: white;
  padding: 0.5rem;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: black;
  border-radius: 0.125rem;
}

.volver {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  color: #5b5b5b;
  line-height: 1;
  cursor: pointer;
}

/**FOOTER SECTION ________________________________________________*/

.footer {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 2.5rem /* 40px */;
}

.banner-container {
  display: grid;
  width: 100%;
  border-width: 1px;
  border-color: #2b2b2b;
  background-color: #101110;
  border-radius: 0.5rem /* 8px */;
  justify-content: center;
}

.banner-title {
  font-weight: 600;
  font-size: 40px;
  text-wrap: balance;
  line-height: 43px;
}

.banner-subtitle {
  color: #646464;
  font-size: 16px;
  margin-top: 0.5rem /* 8px */;
  text-wrap: balance;
}

.banner-download {
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  width: 175px;
  gap: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  justify-content: center;
  border-radius: 0.125rem /* 2px */;
  cursor: pointer;
  font-size: 0.875rem /* 14px */;
  font-weight: 400;
}

.pulse-container {
  display: flex;
  align-items: center;
  gap: 0.6rem /* 8px */;
  margin-top: 2rem /* 32px */;
  font-weight: 500;
  color: white;
}

.pulse {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #00ff6a;
  animation: 1.5s pulse infinite ease-in-out;
  margin-left: 5px;
  margin-top: 1px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #00ff6a;
  }

  100% {
    box-shadow: 0 0 0 5px #69ffa800;
  }
}

.social-container {
  display: flex;
  align-items: center;
  margin-top: 3.5rem /* 56px */;
  gap: 0.8rem /* 16px */;
  font-size: 1.25rem /* 20px */;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.75rem /* 12px */;

  width: 55%;
  color: white;
}

.tech-content {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  line-height: 1;
  color: #838586;
}

.job-container {
  width: 20%;
  color: white;
  gap: 0.75rem /* 12px */;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
}

.job-content {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  line-height: 1;
  cursor: pointer;
  color: #838586;
}

.footer-mobile {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 0.875rem /* 14px */;
  margin-top: 3rem /* 48px */;
  margin-bottom: 0.5rem /* 8px */;
  color: #a7a7a7;
}

.tech-mobile {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem /* 20px */;
  color: #838586;
}

.job-mobile {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem /* 20px */;
  color: #838586;
}

/**MODAL ________________________________________________*/

.modal-container {
  width: 100%;
  height: 100%;
  padding-left: 3.5rem /* 56px */;
}

.modal-left {
  width: 375px;
  height: 100%;
  padding-right: 3.5rem /* 56px */;
  display: flex;
  flex-direction: column;
  color: #a1a1a1;
}

.modal-name {
  font-weight: 700;
  line-height: 45px;
  font-size: 40px;
  margin-top: 0.5rem /* 8px */;
  color: white;
}

.modal-summary {
  margin-top: 1.5rem /* 24px */;
  font-size: 15px;
}

.modal-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 14px;
  line-height: 1;
  border-color: #343434;
  border-bottom-width: 1px;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.modal-tech {
  display: flex;
  gap: 0.5rem /* 8px */;
  justify-content: flex-end;
  padding-top: 1.25rem /* 20px */;
  font-size: 24px;
}

.left-end {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.modal-buttons-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem /* 12px */;
  align-items: center;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.modal-visit {
  background-color: white;
  color: black;
  height: 45px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 0.125rem /* 2px */;
  cursor: pointer;
  line-height: 1;
}

.modal-github {
  background-color: transparent;
  border-width: 1px;
  border-color: #343434;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 0.125rem /* 2px */;
  cursor: pointer;
  line-height: 1;
  color: white;
}

.modal-right {
  flex: 1 1 0%;
  height: 100%;
  border-color: #202020;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3rem /* 48px */;
  margin-right: 0.5rem /* 8px */;
  overflow-y: auto;
  padding-bottom: 1.5rem /* 24px */;
  border-left-width: 1px;
}

.modal-container-mobile {
  width: 100%;
  height: 100%;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  overflow-y: auto;
  padding-bottom: 6rem /* 96px */;
  color: #a1a1a1;
}

.h1-content div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.h1-content h1 {
  color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-size: 32px;
  line-height: 1;
  margin-top: 50px;
}
.h1-content p {
  letter-spacing: -0.025em;
  text-wrap: pretty;
  font-size: 15px;
  color: #a1a1a1;
}
.h1-content a {
  color: #3291ff;
  font-weight: 500;
}

.h1-content a:hover {
  text-decoration-line: underline;
}

.h1-content code {
  display: inline-block;
  color: #ededed;
  background: #1a1a1a;
  border-radius: 4px;
  font-weight: 400;
  padding: 0 4px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: 16px;
}

.h2-content {
  margin-top: 1.5rem /* 24px */;
}

.h2-content div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.h2-content h1 {
  color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-size: 24px;
  margin-top: 6px;
}
.h2-content p {
  letter-spacing: -0.025em;
  text-wrap: pretty;
  font-size: 16px;
  color: #a1a1a1;
  line-height: 1.3;
}
.h2-content a {
  color: #3291ff;
  font-weight: 500;
}

.h2-content a:hover {
  text-decoration-line: underline;
}

.h2-content code {
  display: inline-block;
  color: black;
  background: #f0f0f0;
  border-radius: 4px;
  font-weight: 400;
  padding: 0 4px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: 16px;
}

/**RENDER IMAGE ________________________________________________*/

.image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: #242424;
  width: 100%;
  transition-property: transform !important;
}

.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3.5px solid #7c7c7d;
  border-right-color: #3b3a3a;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
