@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #060a0e;
  color: white;
}

.pageSize {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

@media (min-width: 640px) {
  .pageSize {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1b1b1b;
  }

  *::-webkit-scrollbar-thumb {
    background: #404141;
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }
}

/**NAVBAR SECTION ________________________________________________*/

.navbar-bg {
  animation: bg linear both;
  animation-timeline: scroll();
  animation-range: 0 125px;
}

@keyframes bg {
  to {
    background-color: #060a0e;
    backdrop-filter: blur(10px);
  }
}

.navbar-container {
  height: 45px;
  width: 100%;
  border-bottom-width: 1px;
  background-color: #060a0e;
  border-color: #2b2b2b;
  position: fixed;
  z-index: 30;
  color: #838586;
  font-weight: 500;
}

.navbar-desktop {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 13.5px;
  line-height: 1;
}

.sec {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #838586;
  font-weight: 500;
}

.sec:hover {
  color: white;
}

.divider {
  border-left-width: 1px;
  padding-left: 1.5rem;
  border-color: #2b2b2b;
}

.pulse {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #00ff6a;
  animation: 1.5s pulse infinite ease-in-out;
  margin-left: 5px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #00ff6a;
  }

  100% {
    box-shadow: 0 0 0 3px #69ffa800;
  }
}

.navbar-mobile {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

/**HERO SECTION ________________________________________________*/

.title {
  line-height: 1rem;
  color: white;
  max-width: 500px;
  font-weight: 600;
}

.subtitle {
  margin-top: 0.7rem;
  color: #818181;
  max-width: 475px;
  text-wrap: pretty;
}

.buttons-container {
  gap: 1rem;
  display: grid;
  max-width: 450px;
  margin-top: 2.5rem;
}

.correo-button {
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  line-height: 1;
  background-color: white;
  font-size: 14px;
  color: black;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  border-radius: 2px;
  height: 45px;
  align-items: center;
  display: flex;
  user-select: none;
  font-weight: 400;
}

.github-button {
  cursor: pointer;
  border-width: 1px;
  border-color: #343434;
  gap: 0.5rem;
  line-height: 1;
  background-color: black;
  justify-content: center;
  font-size: 14px;
  color: white;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  border-radius: 2px;
  height: 45px;
  align-items: center;
  display: flex;
  user-select: none;
}

/**PROJECTS SECTION ________________________________________________*/

.filter-container {
  display: flex;

  overflow-x: auto;
  padding-bottom: 0.75rem;
}

.inactive {
  font-weight: 500;
  height: 40px;
  font-size: 13.5px;
  border-color: transparent;
  border-bottom-width: 2px;
  display: flex;
  align-items: center;
  border-radius: 0.125rem;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  color: #838586;
  text-transform: capitalize;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding-bottom: 2px;
}

.inactive:hover {
  color: white;
}

.active {
  padding-bottom: 2px;
  height: 40px;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  text-transform: capitalize;
  gap: 0.5rem;
  pointer-events: none;
  user-select: none;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 0.8rem;
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.project-container:hover .info {
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 0.75rem;
  color: #838586;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icons-container {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 20;
  color: #6e6e6e;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tooltip-container:hover {
  color: white;
}

@media (min-width: 640px) {
  .tooltip-container:hover .tooltip {
    display: block;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: -2.5rem;
  background-color: white;
  padding: 0.5rem;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: black;
  border-radius: 0.125rem;
}

/**RENDER IMAGE ________________________________________________*/

.image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: #242424;
  width: 100%;
}

.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3.5px solid #7c7c7d;
  border-right-color: #3b3a3a;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
